

body {
	margin: 0;
	padding: 0;
	font-family: calibri;
	user-select: none;
}


div {
	box-sizing: border-box;
}

html{
	--color_0:#1b4d74;
	--color_1:#2a75c0;
	--color_2:#ecf5fd;
	--color_3:#1d1f20;
	--color_4:#737a82;
	--color_5:#b5b8ba;
	--color_6:#edf1f4;
	--font_main:40px;
	--font_head:24px;
	--font_body:16px;
	--font_detail:14px;
	--font_small:12px; 
}

.custom_btn {
	text-align: center;
	color:white !important;
	background-color: var(--color_1) !important;
	border:solid var(--color_1) 2px !important;
	padding:0.8em !important;
	height: auto !important;
	width: 10em;
	box-shadow: 0px 0px 2px var(--color_3);
	text-align: center;
	border-radius: 0.5em;
}

.custom_btn:hover {
	color:var(--color_1) !important;
	background-color: white !important;
}

.header {
	width:100%;
	padding:2em 5em;
	padding-bottom: 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hrc_1 {
	color:var(--color_3);
}

.hrc_2 {
	color:var(--color_1);
}

.header .row_1 {
	float: left;
	font-size: var(--font_main);
	font-weight: bold;
}

.header .row_2 {
	display: inline-flex;
	column-gap: 1.5em;
	color:var(--color_4);
	font-size: var(--font_head);
	position: static;
}

.content {
	width:100%;
	padding: 1em 8em;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 0em;
	min-height: 20em;
}


.content .ct_1 {
	width: 100%;
	height: 15em;
	background-image: url(../assets/back.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 100%;
}

.content .ct_2{
	width: 90%;
    position: relative;
    z-index: 1;
    top: -6em;
    background-color: #fcfcfc;
    padding: 2em;
    box-shadow: 0 0 5px var(--color_5);
}


.content .ct_2 .u_ctx {
	display: flex;
	flex-direction: column;
	color:var(--color_5);
	font-size: var(--font_body);
	font-weight: bold;
	padding-bottom: 2em; 
}

.content .ct_2 .u_ctx .pr_2{
	display: inline-flex;
	column-gap: /*6em;*/7.5em;
	justify-content:/*flex-start*/space-between;
	padding-bottom: 4em;
	border-bottom: solid 1.5px var(--color_4);
}

.content .prx{
	row-gap: 2em;
    display: inline-flex;
    flex-direction: column;
}

.content .prx_1{
	font-size: var(--font_head);
	font-weight: bold;
	color:var(--color_3);
}

.content .fed {
	display: flex;
	flex-direction: column;
	row-gap:0.125em;
	position: relative;
}

.fed_double {
	display: inline-flex;
	column-gap: 1em;
}

.fed_double input {
	width:7em;
}


.no_border_pr_2 {
	border:none !important;
	padding-bottom: 1em !important;
}

.fed_submit {
	margin-top: 1em;
}

.lk_label{
	visibility: hidden;
}

.lk_input {
	width:13em;
	height: 2.4em;
	border-radius: 0.35em;
	border: solid 1px var(--color_4);
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap:1.1em;
	padding: 0.5em 0em;
}

.lk_input.skt{
	column-gap:4.5em;
}

.u_lk {
	display: inline-flex;
	column-gap: 0.25em;
	align-items: center;
}

.lk_input.skt .u_lk{
	column-gap: 0.8em;
}

.lk_input .pbx_1{
	width:1.5em;
	height: 1.5em;
	background-color: blue;
}

.lk_input.skt .pbx_1{
	width:1.7em;
	height: 1.7em;
}

.skt.lk_input .pbx_2{
	color:black;
	font-family: tahoma;
	font-size: (--font_body);
	font-weight: bold;
	font-style: italic;
}

input {
	width:15em;
	height: 2.6em;
	border-radius: 0.35em;
	box-sizing: border-box;
	font-size: var(--font_detail);
	font-weight: bold;
	color:var(--color_3);
	outline: none;
	border: solid 1px var(--color_4);
	padding: 2px 10px;
}

input:focus,.lk_input:focus {
	border-color:var(--color_5);
	border-width: 2px;
}

.footer {
	background-color: var(--color_0);
	padding: 3em;
	color:var(--color_6);
	font-size: var(--font_body);
    width: 100%;
    margin-top: 1em;
}

.footer .ft_row2{
	display: flex;
	/*column-gap: 12em;
    justify-content: center;*/
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .u_ft{
	padding:2em 0.5em;
	padding-bottom: 0em;
}
.logo_wrap{
	background-color: var(--color_6);
	padding: 0.6em;
	font-size: var(--font_head);
	font-weight: bold;
	width:fit-content;
	border-radius: 0.25em;
}

.footer .head{
	font-size: var(--font_head);
	font-weight: bold;
	color: white;
}

ul {
	list-style: none;
	row-gap:2em;
	padding-inline-start:0px;
}

li {
	margin-bottom: 1.2em;
}

li:last-child{
	margin-bottom: 0em !important;
}

.u_ft_row1 {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
}

.u_ft_row3 li{
	margin-bottom: 0.5em;
}

.u_ft_row3  {
	display: flex;
	flex-direction: column;
}
.wid_body{
	display: inline-flex;
	gap: 0.5em;
	align-self: flex-end;
	margin-top: 2.5em;
	flex-wrap: wrap;

}

.wid_body .u_wid {
	border-radius: 2em;
	background-color: var(--color_5);
	height: 3em;
	width:3em;
	overflow: hidden;
}

.ext_box{
	display: inline-flex;
	column-gap: 0.125em;
	position: absolute;
	top:1.75em;
	right: 0.5em;
	background-color: var(--color_5);
	padding:0.25em;
	border-radius: 0.5em;
}


.ext_box .boxt{
	width:1.5em;
	height: 1em;
	background-color: Orange;
	margin-left: 1px;
}

.ext_box select {
	/*appearance:none;*/
	font-size: var(--font_small);
	font-weight: bold;
	color: var(--color_3);
	background-color: transparent;
	border:none;
	outline: none;
}

input[type="radio"]{
	border: solid 2px var(--color_5);
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 1em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding:0em !important;
}

input[type="radio"]:checked{
	border: solid 2px var(--color_1);
}

input[type="radio"]:checked::before {
    content: "";
    width: 0.9em;
    height: 0.9em;
    background-color: var(--color_1);
    position: absolute;
    border-radius: 1.5em;
}


/*new start for rating and reviews*/

.content.content_2{
	padding: 0em 5em;
}
.pq {
	width: 100%;
}

.pq_1{
	font-weight: bold;
	font-size: var(--font_head);
	margin-bottom: 4em;
}

.section{
	margin-bottom: 4em;
	position: relative;
}

.section .p_img{
	width:10em;
	height: 10em;
	background-color: red;
	border-radius: 5em;
	position:relative; 
	top:2em;
	z-index: 1;
	overflow: hidden;
}

.section .p_body{
	width:100%;
	position: relative;
}

.section .p_comment{
	background-color: var(--color_2);
	padding: 8em;
	padding-bottom: 10em;
	display: flex;
	flex-direction: column;
	row-gap:2em;
	font-weight: bold;
}

.section .p_comment .txt_1{
	font-size: var(--font_head);
}

.section .p_comment .txt_2{

}

.section .p_rate{
	background-color: var(--color_1);
	width:/*25em*/40%;
	height: /*5em*/3em;
	position:absolute;
	bottom: 0%; 
	box-shadow: 1px -1px 5px var(--color_3);
}

.custom_btn.adr{
	padding:1em 8em !important;
	width:auto !important;
	font-weight: bold;
	margin:4em 0em;
}

.adx_pag {
	width:100%;
	background-color: var(--color_3);
	color:white;
	font-size: var(--font_head);
	font-weight: bold;
	margin: 5em 0em;
	margin-bottom: 15em;
	text-align: center;
	padding:1em;
}


.sz_media_change {
	
}